/******************************************************************************************/
/* Chooser Style */
/******************************************************************************************/

.pane {
    -fx-background-color:  #F0FFFF;
    -fx-border-color: black
}

}

.combo-box {
    -fx-min-width: 200;
    -fx-pref-width: 200;
}

.my-rect {
    -fx-width: 720px;
    -fx-height: 400px;
    -fx-fill: #FFFFFF;
    -fx-stroke: #808080;
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: butt;
}

.help-button {
    -fx-min-width: 100;
    -fx-min-height: 50;
}

.button {
    -fx-min-width: 50;
    -fx-min-height: 50;
}

.text-field {
    -fx-min-width: 600;
    -fx-min-height: 50;
}

.label {
    -fx-min-width: 300;
    -fx-min-height: 50;
}

.text-area {
    -fx-pref-height: 100;
    -fx-pref-width: 200;
    -fx-stroke: #808080;
    -fx-stroke-width: 2;
}

.title-text {
    -fx-text-alignment: center;
    -fx-pref-width: 700px;
    -fx-font: 50px Tahoma;
    -fx-stroke: black;
    -fx-fill: #808080;
}

.label { 
    display: block;
    width: 200px;
    height: 25px;
    font-weight:bold;
}

/** Error Style **/
#errorLabel {
 	-fx-min-width: 300;
 	-fx-min-height: 50;
 	-color: #FF0000;
}