/******************************************************************************************/
/* Chooser Style */
/******************************************************************************************/

.pane {
    -fx-background-color:  #F0FFFF;
    -fx-border-color: black
}

#label {
    -fx-font: 15px Trebuchet;
    -fx-fill: #808080;
    -fx-stroke: black;
    -fx-stroke-width: .5;
}

#penVBox {
    -fx-alignment: center;
}

#position {
    -fx-font: 38px Trebuchet;
    -fx-alignment: center;
}

#titleText {
    -fx-font: 40px Trebuchet;
    -fx-fill: #808080;
    -fx-stroke: black;
    -fx-stroke-width: .5;
}

#rightpane {
    -fx-background-color: #F2F2F2;
    -fx-padding: 20px 100px 100px 20px;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

#bottompane {
    -fx-background-color: #F2F2F2;
    -fx-padding: 20px 20px 20px 20px;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

#centerpane {
   -fx-padding: 20px 0px 20px 0px;
}

.combo-box {
    -fx-min-width: 130px;
    -fx-pref-width: 130px;
}

.my-rect {
    -fx-width: 720px;
    -fx-height: 400px;
    -fx-fill: #FFFFFF;
    -fx-stroke: #808080;
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: butt;
}

#run-button {
    -fx-pref-width: 55;
}

.button {
    -fx-min-width: 45;
    -fx-min-height: 45;
}

#updownButton{
    -fx-max-width: 110px;
    -fx-max-height: 30px;
}

#leftrightButton{
    -fx-pref-width: 30px;
    -fx-max-height: 110px;
}


#commandLine {
    -fx-min-width: 640;
    -fx-min-height: 45;
}

#fileLine {
    -fx-min-width: 250;
    -fx-min-height: 45;
}

.label {
    -fx-min-width: 300;
    -fx-min-height: 50;
}

.text-area {
    -fx-pref-height: 84;
    -fx-pref-width: 200;
    -fx-stroke: #808080;
    -fx-stroke-width: 2;
}

.label { 
    display: block;
    width: 200px;
    height: 25px;
    font-weight:bold;
}

.vbox {
    -fx-padding: 0 5 0 5;
    -fx-spacing: 8;
}

/** Error Style **/
#errorLabel {
 	-fx-min-width: 300;
 	-fx-min-height: 50;
 	-color: #FF0000;
}