/******************************************************************************************/
/* Chooser Style */
/******************************************************************************************/

.pane {
    -fx-background-color:  #F0FFFF;
    -fx-border-color: black
}

.combo-box {
    -fx-min-width: 200;
    -fx-pref-width: 200;
}

.button {
    -fx-min-width: 100;
    -fx-min-height: 50;
}

.text-field {
    -fx-min-width: 600;
    -fx-min-height: 50;
}

.label {
    -fx-min-width: 300;
    -fx-min-height: 50;
}

.text-area {
    -fx-pref-height: 200;
    -fx-pref-width: 200;
}

.label { 
    display: block;
    width: 200px;
    height: 25px;
    font-weight:bold;
}

/** Error Style **/
#errorLabel {
 	-fx-min-width: 300;
 	-fx-min-height: 50;
 	-color: #FF0000;
}